/** 一些常用的 stylus 变量 */

// 框架布局中，内容区域的最小宽度
$layout-content-min-width = 1208px
// 内容区距离 sider 和 header 的 margin
$layout-content-margin = 0 0
// 内容区的 padding
$layout-content-padding = 24px
// header 高度
$layout-header-height = 48px
// header 背景颜色
$layout-header-background = #fff
// sider 背景颜色
$layout-sider-background = #fff
// sider 顶部 LOGO 栏的高度
$layout-sider-logo-height = 50px
// sider 底部工具栏的高度
$layout-sider-link-height = 40px

// 轻微的下划线
$border-light = 1px solid #f0f0f0
// hover 颜色
$background-hover = #1890ff

